*.pyc
*.py.swp*
.ipynb_checkpoints/
cs_dip_mnist.py
cs_dip_retino.py
cs_dip_xray.py
plot_mnist.ipynb
plot_retino.ipynb
plot_xray.ipynb
comp_sensing_expmt.py
README_neurips.md
mnist_demo/sub/
retino/sub
retino_demo/sub
xray/sub
xray_demo/sub
baselines_matlab/
reconstructions/
*.npy
dataspecific_scripts
